@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --redBg: linear-gradient(180deg, #EA3656 0%, #B92A43 100%), #EA3656;
  --grayBg: linear-gradient(180deg, #454555 0%, #2b2b33 100%);
  --whiteBg: linear-gradient(180deg, #F1F8F7 0%, #c4c4c4 100%), #F1F8F7;

}

#__next {
  height: 100vh;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  background: "#F1F8F7";

  transition: background .7s;
}

.whiteGrad {
  background: linear-gradient(180deg, #F1F8F7 0%, #D5D5D5 100%), #F1F8F7;
}

.redGrad {
  background: linear-gradient(180deg, #EA3656 0%, #B92A43 100%), #EA3656;
}

.fullShadow {
  box-shadow: 0px 8px 19px 8px rgba(0, 0, 0, 0.25);
}

.iconShadow {
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.cara-icen {
  height: 1px;
}

.navText {
  transition: color .4s;
}

.logoLeft,
.logoLeft>span {
  transition: color .7s;
}

.portfolioCont::-webkit-scrollbar {
  display: none;
}

.offerCard {
  box-shadow: 4px 4px 19px 7px rgba(0, 0, 0, 0.25);
}

.polygon {
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
}


html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.chatBox {
  --scrollbarBG: #E5E7EB;
  --thumbBG: #90A4AE;
}

.chatBox::-webkit-scrollbar {
  width: 11px;
}

.chatBox {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.chatBox::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.chatBox::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.mouseFloat {
  animation: float 2s infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}